
[package]
name = "quicd"
version = "0.1.0"
edition = "2021"

[dependencies]
clap = { version = "4.5", features = ["derive"] }
serde = { version = "1.0", features = ["derive"] }
config = "0.14"
anyhow = "1.0"
tokio = { version = "1.0", features = ["rt-multi-thread", "macros", "signal", "sync"] }
num_cpus = "1.0"
quiche = "0.20"
datagram-socket = "0.5"
io-uring = "0.6"
socket2 = "0.5"
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["fmt", "env-filter", "json"] }
libc = "0.2"
buffer-pool = "0.1.0"
once_cell = "1.21.3"
crossbeam-channel = "0.5"
core_affinity = "0.8"
rcgen = "0.13"
ring = "0.17"

# OpenTelemetry for metrics and tracing
opentelemetry = { version = "0.27", features = ["metrics", "trace"] }
opentelemetry-otlp = { version = "0.27", features = ["metrics", "trace", "grpc-tonic"] }
opentelemetry_sdk = { version = "0.27", features = ["rt-tokio", "metrics", "trace"] }
opentelemetry-semantic-conventions = "0.27"
tracing-opentelemetry = "0.28"
