
[package]
name = "quicd"
version = "0.1.0"
edition = "2021"

[dependencies]
clap = { version = "4.5", features = ["derive"] }
serde = { version = "1.0", features = ["derive"] }
config = "0.14"
anyhow = "1.0"
tokio = { version = "1.0", features = ["rt-multi-thread", "macros", "signal", "sync"] }
num_cpus = "1.0"
quiche = "0.20"
tokio-uring = "0.4"
socket2 = "0.5"
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["fmt", "env-filter"] }
libc = "0.2"
buffer-pool = "0.1.0"
once_cell = "1.21.3"
