
[package]
name = "quicd"
version = "0.1.0"
edition = "2021"

[dependencies]
clap = { version = "4.5", features = ["derive"] }
serde = { version = "1.0", features = ["derive"] }
config = "0.14"
anyhow = "1.0"
tokio = { version = "1.0", features = ["rt-multi-thread", "macros"] }
num_cpus = "1.0"